<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <title>Home</title>
    <div><h1>SpaceShip Rental Optimisation</h1></div>
    
    <form action = "/spaceship/optimise" method = "post">
        <textarea name="payload"></textarea>
        <input type="submit" value="upload">

    </form>
    
</body>
</html>